In [1]:
# Importing the relevant module for Dataset cleaning
import pandas as pd

In [2]:
# Creating a dataframe for the hotels in Victoria
victorian_hotels_df = pd.read_csv('Data/victorian_hotels.csv')

In [3]:
# Viewing the dataframe
victorian_hotels_df.head()

,Title,Description,Identifier,Format,Type,Access rights statement,Copyright statement,Collection,Digital URI,ILMS Identifier,ILMS URI,Contributor/Creator,Date,Location,Accession number,Notes
0,Old Melbourne Motor Inn,NaN,mp018572,JPG,Image,Use of this work allowed provided the creator ...,This work is in copyright. Copyright has been ...,Dennis Mayor collection.,http://api.slv.vic.gov.au/access_record/3131318\n,1790521,http://search.slv.vic.gov.au/MAIN:Everything:S...,"Mayor, Dennis",1973,"Melbourne, Victoria",H95.56/326,NaN
1,"Hotel Federal, Federal Coffee Palace, Melbourn...",Designed by William Pitt and built 1888-1890 i...,ca000116,JPG,Image,Use of this work allowed provided the creator ...,This work is in copyright. Copyright has been ...,Colin Caldwell Trust collection.,http://api.slv.vic.gov.au/access_record/486372,1801006,http://search.slv.vic.gov.au/MAIN:Everything:S...,"Caldwell, Colin",1963,"Melbourne, Victoria",H84.276/1/35A,NaN
2,"Hotel Federal, Federal Coffee Palace, Melbourn...",Designed by William Pitt and built 1888-1890 i...,ca000117,JPG,Image,Use of this work allowed provided the creator ...,This work is in copyright. Copyright has been ...,Colin Caldwell Trust collection.,http://api.slv.vic.gov.au/access_record/486378,1801006,http://search.slv.vic.gov.au/MAIN:Everything:S...,"Caldwell, Colin",1963,"Melbourne, Victoria",H84.276/1/35B,NaN
3,"Hotel Federal, Federal Coffee Palace, Melbourn...",Designed by William Pitt and built 1888-1890 i...,ca000118,JPG,Image,Use of this work allowed provided the creator ...,This work is in copyright. Copyright has been ...,Colin Caldwell Trust collection.,http://api.slv.vic.gov.au/access_record/2677601,1801006,http://search.slv.vic.gov.au/MAIN:Everything:S...,"Caldwell, Colin",1963,"Melbourne, Victoria",H84.276/1/35C,NaN
4,"Fountain Inn, Port Melbourne, Victoria",Looking along road towards two storey hotel wi...,ca000336,JPG,Image,Use of this work allowed provided the creator ...,This work is in copyright. Copyright has been ...,Colin Caldwell Trust collection.,http://api.slv.vic.gov.au/access_record/486723,1802524,http://search.slv.vic.gov.au/MAIN:Everything:S...,"Caldwell, Colin",1959,"Port Melbourne, Victoria",H84.276/2/36C,NaN

In [4]:
# Adding the Regional Hotels to the list
victorian_hotels_country_df = pd.read_csv('Data/victorian_country_hotels.csv', encoding = "ISO-8859-1")

In [5]:
# Viewing the list of hotels in regional Victoria
victorian_hotels_country_df.head()

,Title,Location,Name,Relationship,Date,Source
0,"Lamb Inn & Store, Yan Yean",Yan Yean South (Vic.),Abbott,Licensee,Not identified,a hotel entry in the Robert K. Cole Index of V...
1,"Morrells Junction, Mooroopna",Mooroopna (Vic.),Allen,Licensee,Not identified,a hotel entry in the Robert K. Cole Index of V...
2,"Rose & Crown, Ballarat",Peel St (Ballarat Vic.),"Arthur, J",Not identified,Not identified,a hotel entry in the Robert K. Cole Index of V...
3,"Commercial Hotel & Post Office & Store, Indigo",Indigo (Vic.),"Ashdown, James",Licensee,Not identified,a hotel entry in the Robert K. Cole Index of V...
4,"Royal, Rupanyup",Rupanyup (Vic.),"Ashmore, George Charles",Licensee,Not identified,a hotel entry in the Robert K. Cole Index of V...

In [6]:
# Keeping the relevant columns in the dataframe
country_hotels = victorian_hotels_country_df.copy()

In [7]:
# Retaining relevant columns
country_hotels = country_hotels.drop(columns=['Name','Relationship','Date','Source'])

In [8]:
# Viewing the Dataframe
country_hotels.head()

                                            Title                 Location
0                      Lamb Inn & Store, Yan Yean    Yan Yean South (Vic.)
1                    Morrells Junction, Mooroopna         Mooroopna (Vic.)
2                          Rose & Crown, Ballarat  Peel St (Ballarat Vic.)
3  Commercial Hotel & Post Office & Store, Indigo            Indigo (Vic.)
4                                 Royal, Rupanyup          Rupanyup (Vic.)

In [9]:
# Splitting the Location Columns
location = country_hotels['Location'].str.split("(", n=1, expand=True)

In [10]:
# Cleaning up the Country Hotels Datalist
country_hotels['City'] = location[0]
country_hotels

,Title,Location,City
0,"Lamb Inn & Store, Yan Yean",Yan Yean South (Vic.),Yan Yean South
1,"Morrells Junction, Mooroopna",Mooroopna (Vic.),Mooroopna
2,"Rose & Crown, Ballarat",Peel St (Ballarat Vic.),Peel St
3,"Commercial Hotel & Post Office & Store, Indigo",Indigo (Vic.),Indigo
4,"Royal, Rupanyup",Rupanyup (Vic.),Rupanyup
...,...,...,...
16343,"Strath Creek, Strath Creek",Strath Creek (Vic.),Strath Creek
16344,"Strath Creek, Strath Creek",Strath Creek (Vic.),Strath Creek
16345,"Sea View, Bridgewater",Bridgewater (Vic.),Bridgewater
16346,"Travellers Rest, Ballan",Ballan (Vic.),Ballan
16347,"Western, Caramut",Caramut (Vic.),Caramut

In [11]:
# Final Copy of Country Hotels
country_hotels_final = country_hotels.drop(columns=['Location']).copy()
country_hotels_final

                                                Title             City
0                          Lamb Inn & Store, Yan Yean  Yan Yean South
1                        Morrells Junction, Mooroopna       Mooroopna
2                              Rose & Crown, Ballarat         Peel St
3      Commercial Hotel & Post Office & Store, Indigo          Indigo
4                                     Royal, Rupanyup        Rupanyup
...                                               ...              ...
16343                      Strath Creek, Strath Creek    Strath Creek
16344                      Strath Creek, Strath Creek    Strath Creek
16345                           Sea View, Bridgewater     Bridgewater
16346                         Travellers Rest, Ballan          Ballan
16347                                Western, Caramut         Caramut

[16348 rows x 2 columns]

In [12]:
# Exporting Data to Resources
country_hotels_final.to_csv('Resources/vic_regional_hotels.csv')

In [16]:
# Cleaning first list of Victorian Hotels
victorian_hotels = victorian_hotels_df[['Title','Location']].copy()
victorian_hotels.head()

                                               Title                  Location
0                            Old Melbourne Motor Inn       Melbourne, Victoria
1  Hotel Federal, Federal Coffee Palace, Melbourn...       Melbourne, Victoria
2  Hotel Federal, Federal Coffee Palace, Melbourn...       Melbourne, Victoria
3  Hotel Federal, Federal Coffee Palace, Melbourn...       Melbourne, Victoria
4             Fountain Inn, Port Melbourne, Victoria  Port Melbourne, Victoria

In [17]:
# Seperating City and State
location_1 = victorian_hotels['Location'].str.split(",", n=1, expand=True)
location_1

                  0                     1
0         Melbourne              Victoria
1         Melbourne              Victoria
2         Melbourne              Victoria
3         Melbourne              Victoria
4    Port Melbourne              Victoria
..              ...                   ...
189       Brunswick              Victoria
190  St. Kilda Road   Melbourne, Victoria
191       Melbourne              Victoria
192        Brighton              Victoria
193         Bendigo              Victoria

[194 rows x 2 columns]

In [18]:
# Adding location back to the previous dataframe
victorian_hotels['City'] = location_1[0]
victorian_hotels

,Title,Location,City
0,Old Melbourne Motor Inn,"Melbourne, Victoria",Melbourne
1,"Hotel Federal, Federal Coffee Palace, Melbourn...","Melbourne, Victoria",Melbourne
2,"Hotel Federal, Federal Coffee Palace, Melbourn...","Melbourne, Victoria",Melbourne
3,"Hotel Federal, Federal Coffee Palace, Melbourn...","Melbourne, Victoria",Melbourne
4,"Fountain Inn, Port Melbourne, Victoria","Port Melbourne, Victoria",Port Melbourne
...,...,...,...
189,Sarah Sands Hotel,"Brunswick, Victoria",Brunswick
190,"Aerial view of the Chevron Complex, Street Kil...","St. Kilda Road, Melbourne, Victoria",St. Kilda Road
191,Adam L. Gordon's Room - Adam & Eve Hotel,"Melbourne, Victoria",Melbourne
192,"Marine Hotel, Brighton, Victoria","Brighton, Victoria",Brighton
193,Shamrock Hotel Bendigo Victoria / Bartlett Bros,"Bendigo, Victoria",Bendigo

In [19]:
# Final Dataset to export
victorian_hotels_final = victorian_hotels.drop(columns=['Location']).copy()
victorian_hotels_final

                                                 Title            City
0                              Old Melbourne Motor Inn       Melbourne
1    Hotel Federal, Federal Coffee Palace, Melbourn...       Melbourne
2    Hotel Federal, Federal Coffee Palace, Melbourn...       Melbourne
3    Hotel Federal, Federal Coffee Palace, Melbourn...       Melbourne
4               Fountain Inn, Port Melbourne, Victoria  Port Melbourne
..                                                 ...             ...
189                                  Sarah Sands Hotel       Brunswick
190  Aerial view of the Chevron Complex, Street Kil...  St. Kilda Road
191           Adam L. Gordon's Room - Adam & Eve Hotel       Melbourne
192                   Marine Hotel, Brighton, Victoria        Brighton
193    Shamrock Hotel Bendigo Victoria / Bartlett Bros         Bendigo

[194 rows x 2 columns]

In [20]:
# Export to CSV
victorian_hotels_final.to_csv('Resources/victorian_hotels_cleaned.csv')