# Hotel Price Data Cleaning

In [2]:
import pandas as pd

In [4]:
# Removing commas from the price column
hotel_price_1 = pd.read_csv('Cleaned_data/hotel_price.csv')
hotel_price_1

,Hotel_name,Hotel_city,Hotel_price,Hotel_rating
0,Roses of Daylesford - Rosemary Cottage Beaut...,Daylesford,235,3.0
1,New Modern luxurious studio appartment 5mins w...,Cape Woolamai,279,5.0
2,"Maple Cottage ""The Studio"" Trentham - $99 mid ...",Trentham,172,4.8
3,Bella Loft: luxury studio apartment in the hea...,Woodend,270,4.9
4,The Gatehouse - Light filled cottage in the ...,Melbourne,200,4.9
...,...,...,...,...
631,The Sebel Residences Melbourne Docklands,Melbourne,194,4.0
632,Summer Inn Holiday Apartments,Melbourne,200,3.8
633,CBD Victoria Harbour Service Apartments,Melbourne,421,3.4
634,Clunes Guest Home,Hepburn Shire,140,3.3
635,Redan Apartments,Melbourne,85,1.9

In [7]:
hotel_price_1['Hotel_name'] = hotel_price_1['Hotel_name'].str.replace('~',' ')

In [8]:
# function to remove non-ASCII 
def remove_non_ascii(Hotel_name): 
    return ''.join(i for i in Hotel_name if ord(i)<128) 
 
hotel_price_1['Hotel_name'] = hotel_price_1['Hotel_name'].apply(remove_non_ascii)

In [9]:
hotel_price_2 = hotel_price_1.rename(columns={'Hotel_city':'City'})
hotel_price_2

,Hotel_name,City,Hotel_price,Hotel_rating
0,Roses of Daylesford - Rosemary Cottage Beaut...,Daylesford,235,3.0
1,New Modern luxurious studio appartment 5mins w...,Cape Woolamai,279,5.0
2,"Maple Cottage ""The Studio"" Trentham - $99 mid ...",Trentham,172,4.8
3,Bella Loft: luxury studio apartment in the hea...,Woodend,270,4.9
4,The Gatehouse - Light filled cottage in the ...,Melbourne,200,4.9
...,...,...,...,...
631,The Sebel Residences Melbourne Docklands,Melbourne,194,4.0
632,Summer Inn Holiday Apartments,Melbourne,200,3.8
633,CBD Victoria Harbour Service Apartments,Melbourne,421,3.4
634,Clunes Guest Home,Hepburn Shire,140,3.3
635,Redan Apartments,Melbourne,85,1.9

In [11]:
# Further changing the Cities to all uppercases in order to query on SQL
city_name = hotel_price_2['City'].str.upper()
city_name

0         DAYLESFORD
1      CAPE WOOLAMAI
2           TRENTHAM
3            WOODEND
4          MELBOURNE
           ...
631        MELBOURNE
632        MELBOURNE
633        MELBOURNE
634    HEPBURN SHIRE
635        MELBOURNE
Name: City, Length: 636, dtype: object

In [12]:
hotel_price_2['City'] = city_name
hotel_price_2

,Hotel_name,City,Hotel_price,Hotel_rating
0,Roses of Daylesford - Rosemary Cottage Beaut...,DAYLESFORD,235,3.0
1,New Modern luxurious studio appartment 5mins w...,CAPE WOOLAMAI,279,5.0
2,"Maple Cottage ""The Studio"" Trentham - $99 mid ...",TRENTHAM,172,4.8
3,Bella Loft: luxury studio apartment in the hea...,WOODEND,270,4.9
4,The Gatehouse - Light filled cottage in the ...,MELBOURNE,200,4.9
...,...,...,...,...
631,The Sebel Residences Melbourne Docklands,MELBOURNE,194,4.0
632,Summer Inn Holiday Apartments,MELBOURNE,200,3.8
633,CBD Victoria Harbour Service Apartments,MELBOURNE,421,3.4
634,Clunes Guest Home,HEPBURN SHIRE,140,3.3
635,Redan Apartments,MELBOURNE,85,1.9

In [13]:
# Exporting to CSV
hotel_price_2.to_csv('Cleaned_data/hotel_price_clean.csv')

# Historical Hotels

In [15]:
# Cleaning Historical Hotels Dataframe
historical_hotel = pd.read_csv('Raw_data/victorian_country_hotels_and_licensees.csv')
historical_hotel

       Historical Hotel        City
0     Corner-Commercial   ALEXANDRA
1       Mining Exchange   ALEXANDRA
2             Belle Vue   ALEXANDRA
3            Commercial   ALEXANDRA
4        Mount Pleasant   ALEXANDRA
...                 ...         ...
6266              Royal  WYCHEPROOF
6267   Post Office Club  WYCHEPROOF
6268         Royal Mail  WYCHEPROOF
6269         Royal Mail  WYCHEPROOF
6270         Royal Mail  WYCHEPROOF

[6271 rows x 2 columns]

In [16]:
historical_hotel.columns.unique

In [17]:
historical_hotel_1 = historical_hotel.drop_duplicates(keep='first')
historical_hotel_1

       Historical Hotel        City
0     Corner-Commercial   ALEXANDRA
1       Mining Exchange   ALEXANDRA
2             Belle Vue   ALEXANDRA
3            Commercial   ALEXANDRA
4        Mount Pleasant   ALEXANDRA
...                 ...         ...
6239           Terminus  WYCHEPROOF
6240      Mt Wycheproof  WYCHEPROOF
6241   Post Office Club  WYCHEPROOF
6243         Royal Mail  WYCHEPROOF
6244              Royal  WYCHEPROOF

[1933 rows x 2 columns]

In [18]:
# Renaming the column
historical_hotel_2 = historical_hotel_1.rename(columns={'Historical Hotel':'historical_hotel'})
historical_hotel_2

       historical_hotel        City
0     Corner-Commercial   ALEXANDRA
1       Mining Exchange   ALEXANDRA
2             Belle Vue   ALEXANDRA
3            Commercial   ALEXANDRA
4        Mount Pleasant   ALEXANDRA
...                 ...         ...
6239           Terminus  WYCHEPROOF
6240      Mt Wycheproof  WYCHEPROOF
6241   Post Office Club  WYCHEPROOF
6243         Royal Mail  WYCHEPROOF
6244              Royal  WYCHEPROOF

[1933 rows x 2 columns]

In [19]:
# Exporting dataframe back as a clean CSV
historical_hotel_2.to_csv('Cleaned_data/historical_hotel_clean.csv', index=False)